// Global Tokens
$clr-primary-500: #007bff;
$clr-primary-600: #0056b3;
$clr-primary-400: #66b2ff;

$clr-neutral-900: #212529;
$clr-neutral-800: #343a40;
$clr-neutral-700: #495057;
$clr-neutral-600: #6c757d;
$clr-neutral-500: #adb5bd;
$clr-neutral-400: #ced4da;
$clr-neutral-300: #dee2e6;
$clr-neutral-200: #e9ecef;
$clr-neutral-100: #f8f9fa;
$clr-neutral-000: #ffffff;

// Generate custom properties from globals tokens
$default: (
  primary: (
    400: $clr-primary-400,
    500: $clr-primary-500,
    600: $clr-primary-600,
  ),

  neutral: (
    000: $clr-neutral-000,
    100: $clr-neutral-100,
    300: $clr-neutral-300,
    500: $clr-neutral-500,
    700: $clr-neutral-700,
    900: $clr-neutral-900,
  ),
);
$default-dark: (
  primary: (
    400d: $clr-primary-400,
    500d: $clr-primary-500,
    600d: $clr-primary-600,
  ),

  neutral: (
    100d: $clr-neutral-100,
    300d: $clr-neutral-300,
    500d: $clr-neutral-500,
    700d: $clr-neutral-700,
    900d: $clr-neutral-900,
  ),
);

// Contextual Tokens light
$color-primary-400: var(--primary-400);
$color-primary-500: var(--primary-500);
$color-primary-600: var(--primary-600);

$color-neutral-000: var(--neutral-000);
$color-neutral-100: var(--neutral-100);
$color-neutral-300: var(--neutral-300);
$color-neutral-500: var(--neutral-500);
$color-neutral-700: var(--neutral-700);
$color-neutral-900: var(--neutral-900);

// Contextual Tokens dark
$color-primary-400d: var(--primary-400d);
$color-primary-500d: var(--primary-500d);
$color-primary-600d: var(--primary-600d);

$color-neutral-100d: var(--neutral-100d);
$color-neutral-300d: var(--neutral-300d);
$color-neutral-500d: var(--neutral-500d);
$color-neutral-700d: var(--neutral-700d);
$color-neutral-900d: var(--neutral-900d);
