@use "sass:map";
@use "../../../abstracts/" as *;
@use "tokens" as *;

.carousel__slide::scroll-marker{
  display: block;
  content: "";
}
@include apply-declarations(
    $on: '.carousel__slide::scroll-marker',
    $from: map.get($carousel-scroll-marker-style, use-default)
);

.carousel__container {
  @include declare-customProperty-by-mediaQuery-map($carousel-scroll-marker-backgrounds, --scroll-marker-background)
}
@container --carousel-container style(--scroll-marker-background: use-slide-image) {
  @include apply-background-image-on-sequence-of-child(
    $childs-selector: '.carousel__slide',
    $childs-pseudo-element: '::scroll-marker',
    $childs-number: 7,
    $images-path: "https://picsum.photos/800/400?random",
    $images-path-ending-divisor: "="
  );
  @include apply-declarations(
    $on: '.carousel__slide::scroll-marker', 
    $from: map.get($carousel-scroll-marker-style, use-slide-image))
}

@container --carousel-container style(--scroll-marker-background: use-counter-numbers){
  .carousel__slide::scroll-marker{
    content: counter(carousel-slide-counter);
    @include flex-center;
  }
  @include apply-declarations(
    $on: '.carousel__slide::scroll-marker', 
    $from: map.get($carousel-scroll-marker-style, use-counter-numbers))
}
  
  
  //Todo if $scroll-marker-background contains use-default to export only the necessary CSS
  //Todo if $scroll-marker-backgrounds contains use-slide-images to export only che necessary CSS


