@use "../abstracts/" as *;

/// Escape block padding and set an optional top-offset or bot-offset

.full-height-image,
.escape-block-padding {
  &[data-position="right"] {
    margin-bottom: calc($section-padding-block * -1);
  }
  &[data-position="left"] {
    margin-top: calc($section-padding-block * -1);
  }

  //prettier-ignore
  @include mq(min, width, medium) {
    margin-top: calc($section-padding-block * -1 + var(--top-offset)) !important;
    margin-bottom: calc($section-padding-block * -1 + var(--bottom-offset)) !important;
  }

  img {
    width: 100%;
    height: 50% !important;
  }

  --top-offset: attr(top-offset type(#{"<length>"}), 0px);
  --bottom-offset: attr(bottom-offset type(#{"<length>"}), 0px);
}
