@use "../abstracts/" as *;

.space-between {
  justify-content: space-between;
}

.flex-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: $flex-group-gap;
}

.split {
  display: flex;
  align-items: center;
  gap: $grid-gap;
}

.flow-content {
  display: grid;
  gap: $grid-gap;
}

.relative {
  position: relative;
}

section {
  padding-block: $section-padding-block;
}
