@use "../abstracts/" as *;

//Todo - Da sistemare
.grid-auto-fit {
  --minimum: attr(min type(<length>), 200px);

  display: grid;
  grid-gap: $grid-gap;
  grid-template-columns: repeat(auto-fit, minmax(min(var(--minimum)), 1fr));
  align-items: center;
}
