@use "../abstracts/" as *;

// Todo - Rendere override, override di default?
/// Docs: Utilizzare --grid-items-size e un CLAMP per definire la dimensione degli elementi della griglia
.grid-auto-fit {
  --grid-items-size: attr(min type(<length>), 200px);
  //prettier-ignore
  --grid-items-size-small: attr(min-small type(<length>), var(--grid-items-size));
  //prettier-ignore
  --grid-items-size-medium: attr(min-medium type(<length>), var(--grid-items-size));

  --min: var(--grid-items-size-small);
  @include mq(min, width, small) {
    --min: var(--grid-items-size-medium);
  }
  @include mq(min, width, medium) {
    --min: var(--grid-items-size);
  }

  display: grid;
  align-items: center;
  grid-gap: $grid-gap;

  grid-template-columns: repeat(auto-fit, minmax(min(var(--min)), 1fr));
}

@layer modificators {
  //! Override internal molecules / atoms width
  .grid-auto-fit:is(.override-w, .override) {
    > div {
      width: 100% !important ;
      max-width: var(--min) !important;
    }
  }

  .grid-auto-fit:is(.justify-center) {
    justify-items: center;
    justify-content: center;
  }
  .grid-auto-fit:is(.justify-start) {
    justify-items: start;
    justify-content: start;
  }
  .grid-auto-fit:is(.justify-end) {
    justify-items: end;
    justify-content: end;
  }
  .grid-auto-fit:is(.align-center) {
    align-items: center;
    align-content: center;
  }
  .grid-auto-fit:is(.align-start) {
    align-items: start;
    align-content: start;
  }
  .grid-auto-fit:is(.align-end) {
    align-items: end;
    align-content: end;
  }
}
